<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>



    <div id="wrapper">


      <header>
        <a href="user\signin">sign up</a>
        <a href="user\login">log in</a>






      </header>

        <div id="new_div">

        <form action="/admin/new" method="post">
            <label>Item <input type="text" name="item_name"></label>
            <label>description <input type="text" name="item_description"></label>
            <label>cateogry <input type="text" name="item_category"></label>
            <label>price <input type="number" name="item_price"></label>
            <input type="submit" value="Spara">
           
        </form>
        </div>

        <div>
        <h3>kategorilista</h3>
        <% @item_category.each do |item| %>
        <ul>
            <a href="/category/<%= item['category']%>"><%= item['category'] %></a>

            
        </ul>

        <% end %>
        </div>

        <div id="item_list">
        <ul>
          <p>här kommer det finnas en lista</p>
          <% @item_items.each do |item| %>
  
              <div id="item_list_item">
  
                <div class="item_list_description">
  
                  <a href="/admin/<%= item['id']%>"><%= item['name'] %></a>
                  <p><%= item['description'] %></p>
                  <p><%= item['category'] %></p>
                  <p><%= item['price'] %></p>
                  <form action="/admin/<%= item['id']%>/delete" method="post">
                    <label><input type="submit" value="delete"></label>
                  </form>

                  <form action="/admin/<%= item['id']%>/edit" method="get">
                  <input type="submit" value="Redigera">
                </form>
                
  
                </div>
  
  

              </div>
  
          <% end %>
        </ul>
      </div>





    </div>
</body>
</html>
