<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>



    <div id="wrapper">
        <div id="new_div">
        <p>Här kommer det finnas en lista över alla items i kategorin.</p>

        <% @items_by_category.each do |item| %>
            <a href="/item/<%= item['id']%>"><%= item['name'] %></a>
            <p><%= item['description'] %></p>
            <p><%= item['category'] %></p>
            <p><%= item['price'] %></p>
        <% end %>

        </div>

    </div>
</body>
</html>
