<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>



  <div id="wrapper">

    <div id="new_div">

      <form action="/views/new" method="post">
        <label>Item <input type="text" name="item_name"></label>
        <label>description <input type="text" name="item_description"></label>
        <label>category <input type="text" name="item_category"></label>
        <label>price <input type="number" name="item_price"></label>
        <input type="submit" value="Spara">
        
      </form>
    </div>

    <div id="item_list">
      <ul>
        <p>här kommer det finnas en lista</p>
        <% @item_items.each do |item| %>

            <div id="item_list_item">

              <div class="item_list_description">

                <a href="/item/<%= item['id']%>"><%= item['name'] %></a>
                <p><%= item['description'] %></p>
                <p><%= item['category'] %></p>
                <p><%= item['price'] %></p>
                <form action="/views/<%= item['id']%>/delete" method="post">
                <label><input type="submit" value="delete"></label>

              </div>


              </form>
          </div>

        <% end %>
      </ul>
    </div>

    <div>
      <% @item_category.each do |item| %>
      <a href="views/landing"><%= item['category'] %></a>
      <p><%= item['category'] %></p>
      <% end %>
    </div>








  </div>
</body>
</html>
