<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>



  <div id="item_list">
    <h1>shopping cart</h1>
    <a href="/views">return to homepage</a>

    <% @cart_items.each do |item| %>


  
      <div id="item_list_item">

        <div class="item_list_description">

          <p><%= item['name'] %></p>
          <p><%= item['price'] %>kr</p>
          <p><%= item['cart_id'] %></p>


        </div>
          <form action="/cart/<%= item['cart_id']%>/delete" method="post">
          <label><input type="submit" value="remove from cart"></label>
      </div>
    <% end %>
  </div>


</body>
</html>
